@font-face {
  font-family: "PT Sans";
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-style: normal;
  font-weight: 700;
  font-display: swap;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

html {
  height: 100%;
}

body {
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 21px;
  color: #000000;
  background-color: #F2F2F2;
  margin: 0;
}

.wrapper {
  background-color: #ffffff;
  width: 1200px;
  margin: 0 auto;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
}

.main-container {
  flex-grow: 1;
}

.page-header {
  display: flex;
  height: 64px;

}

.navigation-logo {
  margin-left: 70px;
  position: relative;
  z-index: 1;
}

.navigation {
  display: flex;
  margin-left: 28px;
  margin-right: 70px;
  justify-content: space-between;
  width: 892px;
  align-items: center;

}

.navigation-list {
  display: flex;
  align-items: center;
}

.navigation-user-list {
  display: flex;
  width: 268px;
  justify-content: end;
  align-items: center;
}

.navigation-list,
.navigation-user-list,
.advantages-list,
.services-list,
.social-list,
.breadcrumbs,
.catalog-filter-list,
.hotel-list,
.pagination-list,
.button-view-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.navigation-link {
  font-family: "PT Sans", sans-serif;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  text-align: center;
  color: #000000;
  background-color: #ffffff;
  text-decoration: none;
  text-transform: capitalize;
  padding: 20px 16px;
}


.button-navigation {
  background-repeat: no-repeat;
  background-size: 20px 20px;
  background-position: center;
  display: inline-block;
  padding: 12px;

}

.navigation-search {
  background-image: url("../images/icons/search.svg");
}

.navigation-favourites {
  background-image: url("../images/icons/heart.svg");
  margin-left: 10px;
}

.navigation-favourites-amount {
  font-family: "PT Sans", sans-serif;
  font-weight: 400;
  font-size: 10px;
  line-height: 10px;
  text-align: center;
  color: #ffffff;
  background-color: #7DB54F;
  padding: 4px;
  border-radius: 50%;
  margin: 0px;
  position: relative;
  left: 8px;
  bottom: 15px;

}

.hero-intro {
  color: #ffffff;
  background-color: #343434;
  background-image: url("../images/divider.svg"), url("../images/background-index.jpg");
  background-repeat: no-repeat, no-repeat;
  background-position: right bottom, left bottom;
  background-size: 1200px 57px, 1200px 485px;
  text-align: center;
  padding-top: 64px;
  padding-bottom: 65px;
  margin-bottom: 69px;
}

.advantages,
.services,
.interest,
.subscribe {
  text-align: center;
}


.advantages-list {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 64px;
}

.block-title {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  margin: 0 auto;
}


.block-description {
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  color: #333333;
  margin: 0 auto;
}

.reasons .block-title {
  width: 630px;
  margin-bottom: 25px;
}

.reasons .block-description {
  width: 690px;
  margin-bottom: 90px;
}

.invite .block-title {
  width: 505px;
  margin-bottom: 20px;
}

.invite .block-description {
  width: 651px;
  margin-bottom: 64px;
}


.list-container {
  margin: 0 auto;
  width: 230px;
}

.list-blue {
  background-color: #82B3D3;
  width: 400px;
}

.list-light-blue {
  background-color: rgba(131, 179, 211, 0.12);
  width: 400px;
}

.list-middle-blue {
  background-color: rgba(131, 179, 211, 0.2);
  width: 400px;
}

.list-title {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
}

.list-description {
  font-weight: 400;
  text-align: center;
  color: #333333;
  text-transform: none;
}

.list-blue h3,
.list-blue p {
  color: #ffffff;
}

.services-list {
  display: flex;
  flex-wrap: wrap;
}

.services-house {
  background-color: rgba(131, 179, 211, 0.12);
  background-image: url("../images/house.svg");
  background-repeat: no-repeat;
  background-position: 50%;
  background-size: 75px 72px;
  width: 400px;
}

.services-food {
  background-color: #ffffff;
  background-image: url("../images/food.svg");
  background-repeat: no-repeat;
  background-position: 50%;
  background-size: 75px 72px;
  width: 400px;
  border: #000000 1px solid;
  box-sizing: border-box;
}

.services-souvenir {
  background-color: rgba(131, 179, 211, 0.12);
  background-image: url("../images/souvenir.svg");
  background-repeat: no-repeat;
  background-position: 50%;
  background-size: 75px 72px;
  width: 400px;
}

.services {
  margin-bottom: 96px;
}

.interest-container {
  width: 592px;
  margin: 0 auto;
  margin-bottom: 96px;
}

.interest .block-title,
.subscribe .block-title {
  margin-bottom: 20px;
}

.interest .block-description {
  margin-bottom: 54px;
}

.subscribe .block-description {
  margin-bottom: 54px;
  width: 475px;
}


.subscribe {
  width: 1200px;
  height: 215px;
  margin: 0 auto;
  padding-top: 96px;
  padding-bottom: 104px;
}


.subscribe-index {
  color: #ffffff;
  background-color: #343434;
  background-image: url("../images/background-subscribe.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: left top;
}

.subscribe-index h2,
.subscribe-index p {
  color: #ffffff;
}

.button {
  font-family: "PT Sans", sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  color: #ffffff;
  background-color: #756157;
  text-decoration: none;
  text-transform: uppercase;
  border: none;
  padding: 0;
  margin: 0;
  border-radius: 4px;
  padding-left: 50px;
  padding-right: 50px;
  padding-top: 8px;
  padding-bottom: 8px;
}

.button-want {
  padding-left: 34px;
  padding-right: 34px;
  margin-left: 20px;
}


.button-catalog {
  font-size: 20px;
  line-height: 36px;
}

.button-subscribe {
  font-size: 20px;
  line-height: 36px;
  background-color: #82B3D3;
}


.contacts-phone {
  font-weight: 400;
  font-size: 40px;
  line-height: 40px;
  text-align: center;
  color: #000000;
  background-color: #ffffff;
  text-decoration: none;
  text-transform: capitalize;
}

.field-email {
  font-family: "PT Sans", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  text-align: left;
  color: #000000;
  background-color: #f2f2f2;
  width: 452px;
  height: 52px;
  border: 0;
  padding: 0;
}

.filtr {
  color: #ffffff;
  background-color: #343434;
  background-image: url("../images/background-catalog.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: left top;
  padding: 70px;
  padding-top: 35px;
}

.catalog-header-title {
  font-weight: 700;
  font-size: 60px;
  line-height: 78px;
  text-align: left;
  color: #ffffff;
  text-transform: capitalize;
  margin: 0;
}

.breadcrumbs-link {
  font-weight: 400;
  font-size: 16px;
  line-height: 21px;
  text-align: center;
  text-decoration: none;
  text-transform: none;
}

.catalog-filter-container {
  display: flex;
  justify-content: start;
}

.catalog-filter-title,
.hotel-cost {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  text-align: left;
}

.catalog-filter-list {
  font-size: 18px;
  line-height: 23px;
  text-align: left;
}

.catalog-filter-infrastructure {
  width: 150px;
}

.catalog-filter-housing {
  width: 150px;
  margin-left: 70px;
}

.catalog-buttons {
  margin-left: 70px;
  width: 191px;
}

.hotel-cost {
  width: 288px;
  margin: 0;
  margin-left: 167px;
}

.button-apply {
  background-color: #82B3D3;
}

.button-reset {
  background-color: transparent;
}

.button-hotel-more {
  padding-left: 26px;
  padding-right: 26px;
}

.button-hotel-favourite {
  background-color: #82B3D3;
  padding-left: 20px;
  padding-right: 20px;
}

.sort {
  display: flex;
  justify-content: start;
  margin-bottom: 40px;
  padding-top: 5px;
  padding-bottom: 5px;
}

.sort-result {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-align: left;
  text-transform: uppercase;
  padding: 0;
  margin: 0;
}

.select-control {
  font-family: "PT Sans", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: #333333;
  background-color: #ffffff;
  text-align: left;
  margin-left: 200px;
  width: 292px;
}

.button-view-list {
  margin-left: 70px;
  width: 160px;
  display: flex;
  justify-content: space-between;
}

.catalog-hotels {
  padding-top: 50px;
  padding-bottom: 60px;
  padding-left: 70px;
  padding-bottom: 70px;
}

.hotel-list {
  display: flex;
  width: 1060px;
  flex-wrap: wrap;
  margin-bottom: 40px;

}

.hotel-card {
  width: 340px;
}

.hotel-card-link {
  font-family: "PT Sans", sans-serif;
  font-weight: 700;
  text-align: left;
  color: #000000;
  background-color: #ffffff;
  text-transform: none;
  text-decoration: none;
}

.hotel-card-link h3 {
  font-size: 24px;
  line-height: 28px;
}

.hotel-rating {
  padding-top: 9px;
  padding-bottom: 8px;
  padding-left: 23px;
  padding-right: 22px;
  background: #F2F2F2;
  border-radius: 4px;
  width: 95px;
  height: 20px;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  color: #333333;
  text-align: center;
  text-transform: uppercase;
  margin: 0;
}

.social-list {
  display: flex;
  width: 142px;
}

.button-social {
  width: 47px;
  height: 40px;
  background-repeat: no-repeat;
  display: inline-block;

}

.button-social-vk {
  background-image: url(../images/icons/social-vk.svg);
}

.button-social-telegram {
  background-image: url(../images/icons/social-telegram.svg);

}

.button-social-youtube {
  background-image: url(../images/icons/social-youtube.svg);

}

.button-view {
  padding: 23px 22px;
  background-repeat: no-repeat;
  background-size: 16px 14px;
  border-radius: 4px;
  background-position: center;
  display: inline-block;
}

.pagination-list {
  display: flex;
  width: 400px;
  justify-content: space-between;
}

.button-pagination-item {
  background-color: #82B3D3;
  padding-left: 23px;
  padding-right: 23px;
  padding-top: 11px;
  padding-bottom: 11px;
}

.page-footer {
  min-height: 80px;
  padding-left: 70px;
  padding-right: 70px;
  padding-top: 40px;
}

.page-footer-container {
  display: flex;
  margin: 0 auto;
  justify-content: space-between;
}


.view-table {
  background-image: url(../images/icons/view-table.svg);
  border: 3px solid #000000;
}

.view-card {
  background-image: url(../images/icons/view-card.svg);
  border: 3px solid #E5E5E5;
}

.view-list {
  background-image: url(../images/icons/view-list.svg);
  border: 3px solid #E5E5E5;
}

.hotel-stars {
  height: 18px;
  background-image: url(../images/icons/star.svg);
  background-repeat: space;
}

.stars-1 {
  width: 20px;
}

.stars-2 {
  width: 39px;
}

.stars-3 {
  width: 61px;
}

.stars-4 {
  width: 83px;
}

.stars-5 {
  width: 106px;
}
